<!DOCTYPE html>
<html ng-app="main">
    <head>
        <title>Curso de Angular</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="public/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
        <link href="public/css/bootstrap-theme.min.css" rel="stylesheet" type="text/css"/>
        <link href="public/css/defaul.css" rel="stylesheet" type="text/css"/>
    </head>
    <body ng-controller="mainController">
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">    
                <div ng-controller="produtorDataStore as produtor" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li ng-class="{'active':true }"><a href="#">Home</a></li>
                        <li dropdown is-open="status.isopen">
                            <a href class="dropdown-toggle">Entradas <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#/entrada">Criar Nova</a></li>
                                <li><a href="#">Listar Entradas</a></li>
                                <li class="divider"></li>
                                <li><a href="#">Separated link</a></li>
                            </ul>
                        </li>
                        <li ng-class="{'active':false}"><a href="#/produtor">Produtor</a></li>
                        <li ng-class="{'active':false}"><a href="#/calendar/{{produtor.id}}">Calendario</a></li>
                        <li ng-class="{'active':false}"><a href="#/tabela">Tabela Descontos</a></li>
                    </ul>
                    <form ng-init="produtor.getData()" class="navbar-form navbar-right" role="form">
                        <div class="form-group">
                            <button  ng-click="toggle()" title="Show Filtro" type="button" class="btn btn-default btn-sm">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                            <select ng-model="produtor.id" class="form-control"> 
                                <option ng-repeat="value in produtor.data" value="{{value.id}}">
                                    {{value.nome}}
                                </option>
                            </select>                     
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="container">
            <div ng-view></div>
        </div>
        <script>
                    document.createElement('ui-select');
                    document.createElement('match');
                    document.createElement('choices');                                     </script>
        <script src="public/js/libs/angular.js/angular.min.js" type="text/javascript"></script>
        <script src="public/js/libs/angular.js/angular-route.js" type="text/javascript"></script>     
        <script src="public/js/libs/angular.js/ui-bootstrap-tpls-0.11.0.min.js" type="text/javascript"></script>
        <script src="public/js/libs/angular.js/ngProgress.js" type="text/javascript"></script>
        <script src="public/js/produtor.js" type="text/javascript"></script>
        <script src="public/js/entradas.js" type="text/javascript"></script>
        <script src="public/js/main.js" type="text/javascript"></script>
    </body>
</html>
