<!DOCTYPE html>
<html ng-app="main">
    <head>
        <title>Curso de Angular</title>
        <meta charset="UTF-8">
        <meta http-equiv="cache-control" content="no-cache">
        <meta http-equiv="expires" content="0">
        <meta http-equiv="pragma" content="no-cache">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="public/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
        <link href="public/css/bootstrap-theme.min.css" rel="stylesheet" type="text/css"/>
        <link href="public/css/defaul.css" rel="stylesheet" type="text/css"/>
    </head>
    <body ng-controller="mainController">
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">    
                <div ng-controller="produtorDataStore as produtor" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li ng-class="{'active':true }"><a href="#" class="b-menu">Home</a></li>
                        <li dropdown>
                            <a href class="dropdown-toggle b-menu">Entradas <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#/entrada">Criar Nova</a></li>
                                <li><a href="#/read/{{produtor.id}}">Listar/Produtor</a></li>
                                <li class="divider"></li>
                                <li><a href="#/simulator"  tooltip="Simular descontos técnicos">Simular</a></li>
                            </ul>
                        </li>
                        <li dropdown>
                            <a href class="dropdown-toggle b-menu">Produtor <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#/produtor">Novo / Listar</a></li>
                                <li class="divider"></li>
                                <li><a href="#/resume/{{produtor.id}}/0/{{year}}">Relatório Resumo</a></li>
                            </ul>
                        </li>
                        <li ng-class="{'active':false}"><a class="b-menu" href="#/calendar/{{produtor.id}}">Armazenamento</a></li>
                        <li ng-class="{'active':false}"><a class="b-menu" href="#/tabela">Tabelas</a></li>
                        <li dropdown>
                            <a href class="dropdown-toggle b-menu">Relatórios <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li ng-class="{'active':false}"><a href="#/inout/{{produtor.id}}">Entradas Saidas</a></li>
                                <li><a href="#/amzsilo/2014">Armazenado Silo</a></li>
                                <li><a href="#/chartresumeservice">Info Serviços</a></li>
                                <li class="divider"></li>
                                <li><a href="#/resume/{{produtor.id}}/0/{{year}}">Resumo/Produtor</a></li>
                                <li class="divider"></li>
                                <li><a href="#/ticket/01">Ticket</a></li>
                            </ul>
                        </li>
                        <li><a href="#/configsys" class="b-menu">Configurações</a></li>
                    </ul>
                    <form ng-init="produtor.getData()" class="navbar-form navbar-right" role="form">
                        <div class="form-group">
                            <button  ng-click="toggle()" 
                                     tooltip="{{tpTextSearch}}"
                                     tooltip-placement="bottom"
                                     type="button" 
                                     class="btn btn-default btn-sm">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                            <select ng-model="produtor.id" class="form-control"> 
                                <option ng-repeat="value in produtor.data" value="{{value.id}}">
                                    {{value.nome}}
                                </option>
                            </select>  
                            <reload ng-mouseenter="reload(produtor.id)"></reload>

                        </div>
                    </form>
                </div>
            </div>
        </div>              
        <div class="container"><div ng-view></div></div>
        <script src="public/js/libs/angular.js/angular.min.js" type="text/javascript"></script>       
        <script src="public/js/libs/angular.js/angular-route.js" type="text/javascript"></script>     
        <script src="public/js/main.js" type="text/javascript"></script>
        <script src="public/js/produtor.js" type="text/javascript"></script>
        <script src="public/js/entradas.js" type="text/javascript"></script>
        <script src="public/js/chart.js" type="text/javascript"></script>
        <script src="public/js/libs/angular.js/ui-bootstrap-tpls-0.11.0.min.js" type="text/javascript"></script>
        <script src="public/js/libs/angular.js/ngProgress.js" type="text/javascript"></script>
        <script src="public/js/libs/chart.js/Chart.min.js" type="text/javascript"></script>
        <script src="public/js/libs/angular.js/angular-file-upload-html5-shim.min.js" type="text/javascript"></script>
        <script src="public/js/libs/angular.js/angular-file-upload.min.js" type="text/javascript"></script>
    </body>
</html>
