<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">    
        <div class="navbar-header default">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Project name</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
            <form ng-controller="calendarController as calendar" class="navbar-form navbar-right" role="form">
                <div class="form-group">
                    <select ng-model="produtor.id" class="form-control"> 
                        <option ng-repeat="value in produtor.produtores" value="{{value.id}}">
                            {{value.nome}}
                        </option>
                    </select>
                    <button type="button" ng-click="calendar.getData(produtor)" class="btn btn-default btn-sm">Selecionar</button>                       
                </div>
            </form>
        </div>
    </div>
</div>
<br />
<br />
<br />
<br />