<div class="row" ng-show="!visible">
    <div class="col-md-4" id="search">
        <input class="form-control" type="search" placeholder="filtrar ..." ng-model="search.$" />
    </div>
</div>
<div class="row" ng-init="produtor2.getData()">
    <div class="col-md-4">
        <button type="button" add ng-click="produtor2.addForm()" class=" app-inner btn btn-success btn-lg"><span class="glyphicon glyphicon-plus"></span></button>
    </div>
    <div ng-if="produtor2.add">
        <div class="col-md-4">
            <div class="app-inner">
                <form name="addnew" class="form-horizontal">
                    <fieldset>
                        <!-- Text input-->
                        <div class="form-group"> 
                            <div class="col-md-7">
                                <input ng-model="newdata.nome" name="nome" type="text" class="form-control input-sm">
                                <span class="help-block"></span>  
                            </div>
                        </div>
                        <!-- Text input-->
                        <div class="form-group">
                            <div class="col-md-4">
                                <input ng-model="newdata.grao"  name="grao" type="text" class="form-control input-sm">
                                <span class="help-block"></span>  
                                <input ng-model="newdata.taxa" name="taxa" type="text" class="form-control input-sm">
                                <span class="help-block"></span> 
                            </div>
                            <button id="button1id" name="button1id" ng-click="produtor2.new()" class="btn btn-sm btn-success">Adcionar</button>
                            <button id="button2id" ng-click="produtor2.addFormRemove()" class="btn btn-sm btn-danger">Cancelar</button>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-4" ng-repeat="value in produtor2.data| filter:search">
        <div class="app-inner">
            <div class="form-horizontal">
                <fieldset>
                    <!-- Text input-->
                    <div class="form-group"> 
                        <div class="col-md-7">
                            <input ng-model="value.nome" id="textinput" name="textinput" type="text" class="form-control input-sm">
                            <span class="help-block"></span>  
                        </div>
                    </div>
                    <!-- Text input-->
                    <div class="form-group">
                        <div class="col-md-4">
                            <input id="textinput" ng-model="value.grao" name="textinput" type="text" class="form-control input-sm">
                            <span class="help-block"></span>  
                            <input id="textinput" ng-model="value.armazenagem" name="textinput" type="text" class="form-control input-sm">
                            <span class="help-block"></span> 
                        </div>
                        <button id="button1id" name="button1id" ng-click="produtor2.update(value.id)" class="btn btn-sm btn-primary">Atualizar</button>
                        <button id="button2id" name="button2id" class="btn btn-sm btn-danger">Apagar</button>
                    </div>
                </fieldset>
            </div>
        </div>
        <div ng-if="$index + 1 % 3">
            <br />
        </div>
    </div>
</div>